*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.displayflex{
    display: flex
}

#menu{
    background-color: white;
    position: absolute;
}

.title{
    background-color: white;
    color: white;
    font-size: 50px;
    z-index: +10
}

