*
{
    margin: 0;
    padding: 0;
    color: white;
}

html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-left: 25px;
}

#menu{
height: calc(100% - 50px);
width: auto;
background-image: url("assets/space.jpg");
/* background-color: #8ACB88; */
border-radius: 25px;
border: solid 25px blue;
}

#titre{
    margin-left: 66%;
    height: 20%;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
   
}

#liste{
    margin-left: 66%;
    height: 80%;
    width: auto;
  
}

.stats_box{
    width: 80%;
    height: 40%;
    margin-top: 7%;
    margin-left: 10%;

}

.titre_stats{
width: 100%;
height: 30%;

font-size: 36px;
text-align: center;
}

.stats{
    width: 100%;
height: 15%;
margin-top: 2%;

font-size: 24px;
text-align: center;
}

#loadscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 64%;
    height: 93%;
    margin-top: 25px;
    margin-left: 25px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 60px;
    color : white;

}

#score{
    width: 100%;
    height: 100%;
}